
.body{
     font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.todo-container{
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 6px;
}

li{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}
.completed{
    text-decoration: line-through;
    color: gray;
}

button{
    margin-left: 5px;
}