body{
    font-family: Arial, Helvetica, sans-serif;
     background: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container{
    background: white;
    padding: 20px 30px;
    text-align: center;
    border-radius: 8px;
}

#count {
  font-size: 3rem;
  margin: 20px 0;
}

.buttons button{
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 5px;
    cursor: pointer;
}